<table class="table table-responsive-md table-striped  table-dark">
  <thead>
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr
    *ngFor="let product of products; let i = index">
      <td>{{ product.SKU | uppercase }}</td>
      <td>{{ product.name }}</td>
      <td><img src="{{ product.img_url }}"></td>
      <td>{{ product.category }}</td>
      <td>{{ product.price | currency:'USD' }}</td>
      <td>{{ product.date | date }}</td>
      <td class="actions">
        <i class="fas fa-edit" (click)="editProduct(i)"></i>
        <i class="fas fa-trash" (click)="deleteProduct(i)"></i>
      </td>
    </tr>
  </tbody>
</table>
